body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.Data{
    width: 50%;
  margin-left: 30%;
  margin-top: 50px;
  color: white;
  font-family: "Libre Baskerville", serif;
}
.walking-on-road {
    border: 5px solid white;
    width: 900px;
    height: 600px;
    margin-left: 230px;
    margin-top: 50px;
  }
  
p {
    color: white;
    text-align: center;
}